
header{
    margin-bottom: 50px;
}
.msg{
    font-style: italic;
    font-weight: 400;
}
h4{
    font-weight: 400;
    text-align: center;
}
#donation{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#donation h3{
    text-align: center;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}
.card img{
    margin-bottom: 20px;
}
h3 a{
    color: #65709b;
	text-decoration: none;
}
footer{
    margin-top: 25px;
}