*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
}
header{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}
header #banner{
    background: #FFE29F url('../assets/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 240px;
}
nav{
    width: 100%;
    background-color: #373D55;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    padding: 10px;
}
nav ul li a{
    color: #FFE29F;
    font-weight: 400;
}
nav ul li a:hover{
    color: #FFF;
}
.active-tab{
    color: #fff
}
.active-tab:hover{
    cursor: not-allowed;
}


footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #FFE29F;
    padding: 30px;
}
footer h2{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 10px;
}
footer h5{
    font-size: 1rem;
}
footer #fale-conosco{
    display: flex;
    flex-direction: column;
}
#credits{
    background-color: #373D55;
    color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#credits h6{
    font-size: .9rem;
    font-weight: 200;
}
#credits a{
    color: #FFE29F;
}